body {
	background-color: #f5f5f5;
}


#login_form{
	width: 100%;
	max-width: 400px;
	padding: 15px 0 15px 0;
	margin: auto;

}

#create_user_form {
	width: 100%;
	max-width: 500px;
	padding: 15px 0 15px 0;
	margin: auto;
}

.logged_in_greeting{
	width: 100%;
	max-width: 600px;
	padding: 15px;
	margin: auto;
}

.wrapper {
	width: 100%;
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one           */
	padding: 0 15px 0 15px;

	align-items: center;
}

.login-wrapper {
	max-width: 400px;
	margin: auto;
}

.logged-in-wrapper {
	max-width: 400px;
	min-width: 200px;
	margin: auto;
	display: flexbox;
	display: flex;
	align-items: center;
}

.create-user-wrapper {
	max-width: 500px;
	margin: auto;
}

#go_to_login_page, #go_to_create_user_page {
	margin-bottom: 15px;
}